* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    /* background-color: #F5F5F5; */
    background-color: #202023;
    background-image: url(./green-grass-background-vector-1448445.jpg);
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    margin: 0.7vw;
    font-size: 2.5vw;
}

img {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/WhatsAppImagecopy.jpg);
    background-size: cover;
    height: 16vw;
    border-bottom: .3vw solid darkgreen;
}

.info {
    background-color: #000000b0;
    padding: 0.5vw;
    border-radius: 0.25vw;
    width: 65vw;
}

.details {
    text-align: center;
    color: white;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    border-top: .25vw solid green;
}

.linkedin,
.gmail {
    width: 10vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.linkedin:hover {
    scale: 1.05;
}

.gmail:hover {
    scale: 1.05;
}

.logo {
    width: 2vw;
    margin: .3vw;
}

p {
    font-size: 1.1vw;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #4f3d3d;
    background-image: url(./12188678_4907157.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    padding: 1vw;
    text-align: center;
    box-sizing: border-box;
}

.container h3 {
    background-color: silver;
    text-align: center;
    padding: 0.5vw;
    font-size: 1.5vw;
    text-align: center;
}

.box {
    display: inline-block;
    width: 70%;
    margin: 1vw;
    border: .2vw solid greenyellow;
    box-shadow: 0vw 0vw 15vw 1vw;
    border-radius: .5vw;
}

.box:hover {
    scale: 1.03;
    cursor: pointer;
}

@media only screen and (max-width: 920px) {
    .container {
        margin: 0.2vw;
        width: 100%;
    }

}

@media only screen and (max-width: 500px) {
    .info {
        width: 90%;
    }

    .box {
        width: 90%;
    }

    .linkedin,
    .gmail {
        height: 2.5vw;
        width: fit-content;
    }

    .linkedin-para,
    .gmail-para {
        display: none;
    }

    a {

        text-align: center;
    }

    p {
        font-size: 1.1vw;
    }
}